.nav {
    .title {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        display: inline-block;
    }

    background: 

    a {
        color: white;
    }
}

.navLinks {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
    align-items: center;

    a .title {
    }
}

.title {

}