.container {
    background: "#ECF0F1";
}

.instructions {
    font-size: 0.8rem;
    justify-content: center;
    li {
        margin: 0.5rem;
    }
    display: flex;
    flex-wrap: wrap;
}

.mobileExampleImg {
    flex: 1;
    display: flex;
    justify-content: center;
    img {
        max-width: 270px;
        height: auto;
    }
    
}

.desktopExample {
    display: none; 
}

@media screen and (min-width: 768px){
    .mobileExampleImg {
        flex: 1;
        display: flex;
        justify-content: center;
        img {
            max-width: 310px;
            height: auto;
        }
        
    }
    .instructions {
        font-size: 1rem;
    }
    .desktopExample {
        display: block;
        display: flex;
        justify-content: center; 
        padding: 2rem;
        order: 3;
        flex: 1;
        img {
            height: 400px;
            width: auto;
        }  
    }
    .mobileExampleImg {
        order: 1;
    }
    
}

@media screen and (min-width: 1200px){
    .instructions {
        font-size: 1.2rem;
        li {
            margin: 1.5rem 3rem;
        }
    }
}