@import "../variables";

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.formContainer {
    @include authFormContainer;
}

.errorMessage {
    color: red;
    padding: 1rem;
}
