@import "../variables";

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.formContainer {
    @include formContainer;
    form {
        @include form;
    }
}

.errorMessage {
    color: red;
    padding: 1rem;
}
