@import "../variables";

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.formContainer {
    @include formContainer;
    form {
        @include form;
    }
}

